/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0b3d91;
    color: white;
    padding: 1rem 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: background 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: white;
    color: #0b3d91;
    border-radius: 5px;
}



main {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #0b3d91;
}

/* Place Details Styles */
.place-details {
    background-color: rgb(226, 51, 51);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 800px;
    margin: 2rem auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

.place-details:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.place-details img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
    transition: transform 0.3s;
}

.place-details img:hover {
    transform: scale(1.05);
}

.place-details p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 1rem;
    color: #555;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #0b3d91;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width:px) {
    nav ul {
        display: none;
        flex-direction: column;
    }
    nav ul.active {
        display: flex;
    }
    .menu-toggle {
        display: block;
    }
    
    .places {
        flex-direction: column;
    }
    .place {
        max-width:%;
    }
}
